{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo_index.css') }}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="tela_boas_vindas">
    <div id="frase-introdutoria">
        <p>SE PUDE ENXERGAR TÃO LONGE, FOI POR ESTAR SOBRE O OMBRO DE GIGANTES</p>
        <p>ISAAC NEWTON</p>
    </div>
    
</div>



<script src="{{ url_for('static', filename='js/validacoes_e_post_devedores.js') }}"></script>



{% endblock %}