{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo_tarefas.css') }}">
<div id="tela_boas_vindas">

    <div id="bloco-principal">
        <div id="bloco-pessoal">
            <!-- <img src="{{ url_for('static', filename='images/usuario.png') }}" alt="Usuário">
            <h6>Bem vindo {{nome_usuario}}</h6> -->
            <!-- <h3>PÁGINA INICIAL</h3> -->
        </div>

    </div>

    <div id="bloco-tarefas">
        <div id="tarefas-menu">
            <div id="bloco-titulo-tarefas">
                <a class="voltar-btn" href="/"><i class="fa fa-arrow-left" style="color:black;"></i></a>
                <h4 class="titulo-tarefas">TAREFAS</h4>
            </div>
            <div id="contagem">
                <p class="nc" title="NÃO CONCLUIDAS">{{nao_concluidas}}</p>
                <p class="c" title="CONCLUIDAS">{{concluidas}}</p>
            </div>
        </div>
        <div id="tarefas">
            <div id="tarefas-lista">
                {%if tarefas_r%}
                {%for t in tarefas_r%}
                <div class="tarefa">
                    <div>
                        <p class="descricao"><strong>{{t[0]}}: </strong>{{t[1]}}</p>
                        <p class="urgencia"><strong>Urgência: </strong> {{t[2]}}</p>
                        <p class="concluida-{{t[3]}}"><strong>CONCLUÍDA:</strong> {{t[3]}}</p>
                    </div>

                    <div>
                        <form method="POST" action="/tarefas">
                            <input type="hidden" name="id_tarefa" value="{{t[5]}}">
                            <input type="hidden" name="ponto" value="{{t[4]}}">
                            <input type="hidden" name="conclusao" value="falso">
                            <button type="submit" class="tarefa-btn">SELECIONAR</button>
                        </form>
                    </div>

                </div>

                
                
                {%endfor%}
                {%else%}
                <div id="tarefa">
                    <p class="titulo">Sem tarefas.</p>
                </div>
                
                {%endif%}
            </div>

            <div id="tarefa-escolhida">
                <h5 class="titulo-tarefas-2">TAREFA SELECIONADA</h5>
                {%if tarefa%}
                    <div id="a-tarefa">
                        <p class="descricao"><strong>{{tarefa[0]}}: </strong>{{tarefa[1]}}</p>
                        <p class="urgencia"><strong>Urgência: </strong>{{tarefa[2]}}</p>
                        <p class="concluida-{{tarefa[3]}}">CONCLUÍDA: {{tarefa[3]}}</p>
                    </div>
                    <form action="/tarefas" method="POST">
                        <input type="hidden" name="id_tarefa" value="{{tarefa[5]}}">
                        <input type="hidden" name="ponto" value="{{tarefa[4]}}">
                        <input type="hidden" name="conclusao" value="verdadeiro">
                        <button type="submit" class="button-tarefa">MARCAR COMO CONCLUÍDA</button>
                    </form>
                {%else%}
                <p>Nenhuma tarefa selecionada.</p>
                {%endif%}
            </div>
        </div>

        
    </div>
    
</div>


{% endblock %}