{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo_conab.css') }}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="tela_boas_vindas">
    <div id="formulario_conab">
       <form method="POST" action="/adicionar_materia">
            <input type="text" name="materia" placeholder="NOME DA MATÉRIA">
            <select name="vertente" id="vertente">
                <option value="conab">CONAB</option>
                <option value="filosofia">FILOSOFIA</option>
                <option value="musica">MÚSICA</option>
                <option value="literatura">LITERATURA/POESIA</option>
                <option value="fisica">FÍSICA</option>
            </select>
            <button type="submit">Adicionar Matéria</button>
       </form>
    </div>
    
</div>



<script src="{{ url_for('static', filename='js/validacoes_e_post_devedores.js') }}"></script>



{% endblock %}